<html>
  <head>
    <title>Grupo de Usuarios de Linux de la Universidad Carlos III de Madrid</title>
    <%= partial("head") %>
</head>
  <body>
    
    <div class="logobox">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h1><a href="/">GUL UC3M</a></h1>
          </div>
          <div class="span1 offset7">
            <h2></h2>
            <p><!--Aquí va el enlace a la radio--></p>
          </div>
        </div>
      </div>
    </div>
    
    <div id="myCarousel" class="carousel slide">
      <ol id = "myCarouselIndicators" class="carousel-indicators">
      </ol>
      <div id="myCarouselInner" class="carousel-inner">
      </div>
      <!--
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      -->
    </div>
    
    <div class="container" id="maincontainer">
      <div class="row">
        <div class="span4">
          <h2>LA ASOCIACIÓN</h2>
          <p>
            <ul>
              <li><a href="/gul/intro">¿Quiénes somos?</a></li>
              <li><a href="/gul/actividades">¿Qué hacemos?</a></li>
              <li><a href="/gul/servicios">Servicios</a></li>
              <li><a href="/gul/reuniones">Reuniones</a></li>
              <li><a href="http://planeta.gul.es">Planeta GUL</a></li>
              <li><a href="http://wiki.gul.es">Documentación (wiki)</a></li>
            </ul>
          </p>
        </div>
        <div class="span4">
          <h2>¿POR DÓNDE EMPIEZO?</h2>
          <p>
          ¿Qué tal apuntándose a la <a href="https://gul.uc3m.es/mailman/listinfo/gul">lista de correo GUL</a>? 
          </p>
  	      <div id="mlform">
  	        <form method="POST" action="https://gul.uc3m.es/mailman/subscribe/gul">
              <input id="mail" type="text" name="email" placeholder="Dirección de e-mail"/> <br />
  	          <input id="mailsubmit" type="submit" value="Apuntarme"/>
  	        </form>
  	      </div>
  	      <p>
  	        Es totalmente gratis, no te enviaremos publicidad y no cedemos tus datos
  	        a terceras partes.
  	      </p>
        </div>
        <div class="span4">
          <% comic = @timeline.reverse.find {|s| s.comicimg } %>
          <h2><%= comic.title %></h2>
          <div style="background:black">
            <a href="<%= comic.path %>">
              <img src="<%= comic.comicimg %>" style="width:inherit;height:auto"/>
            </a>
            <div style="color:<%= comic.comictxtcolor %>">
              <%= comic.comictxt %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <h2>A GRITO PELAO</h2>
          <p>
            <ul>
              <li><a href="/hm/intro">Sobre la radio</a></li>
              <li><a href="/hm/programas">Programas</a></li>
            </ul>
          </p>
        </div>
        <div class="span4">
          <h2>SOCIAL</h2>
          <p>
            <ul>
              <li><a href="https://twitter.com/guluc3m">El GUL en Twitter</a></li>
              <li><a href="https://twitter.com/holamundoradio">La radio del GUL en Twitter</a></li>
            </ul>
          </p>
        </div>
        <div class="span4">
          <h2></h2>
          <p>
            <% if @photos %>
              <% @photos.each do |photo| %>
                <a href="<%= photo.path %>">
                  <img src="<%= photo.thumbnail %>" width="50" />
                </a>  
                <% end %>
            <% end %>
          </p>
        </div>
      </div>
    
      <div class="row">
        <div class="span12">
          <pre id="fortunespre">
          </pre>
        </div>
      </div>
    </div>
    
      <%= partial("fortunes") %>
      <%= partial("footer") %>
    
  </body>
</html>

